.sc-layout-header {
  padding: 0;
}

.sc-layout-sider {
  &-dark {
    background: @primary-dark-bg;
  }
}

#root .sc-menu {
  &.sc-menu-dark {
    background: @primary-dark-bg;

    .sc-menu-sub {
      background: @submenu-dark-bg;
    }
  }
}

#root button.btn-add,
#root button.btn-import,
#root button.btn-export,
#root button.btn-delete,
#root button.btn-batch-update {
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

#root button.btn-add {
  background-color: #f6ffed;
  color: #52c41a;
}

#root button.btn-add:hover:not(:disabled) {
  background-color: #73d13d;
  color: #fff;
  border: none;
}

#root button.btn-import {
  background-color: #fcffe6;
  color: #7cb305;
}

#root button.btn-import:hover:not(:disabled) {
  background-color: #bae637;
  color: #fff;
  border: none;
}

#root button.btn-export {
  background-color: #f5f5f5;
  color: #8c8c8c;
}

#root button.btn-export:hover:not(:disabled) {
  background-color: #8c8c8c;
  color: #fff;
  border: none;
}

#root button.btn-delete {
  background-color: #fff2e8;
  color: #fa541c;
}

#root button.btn-delete:hover:not(:disabled) {
  background-color: #ff7a45;
  color: #fff;
  border: none;
}

#root button.btn-batch-update {
  background-color: #e6f4ff;
  color: #4096ff;
}

#root button.btn-batch-update:hover:not(:disabled) {
  background-color: #4096ff;
  color: #fff;
  border: none;
}
