.sc-layout-header {
  padding: 0;
}

.sc-layout-sider {
  &-dark {
    background: @primary-dark-bg;
  }
}

#root .sc-menu {
  &.sc-menu-dark {
    background: @primary-dark-bg;

    .sc-menu-sub {
      background: @submenu-dark-bg;
    }
  }
}
