@import './antd.less';
@import './variable/index.less';
@import './public.less';
@import './scroll-bar.less';

* {
  padding: 0;
  margin: 0;
}


.flex-center-v {
  display: flex;
  align-items: center;
}

.flex-center-h {
  display: flex;
  justify-content: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between-h {
  display: flex;
  justify-content: space-between;
}
